

<div class="book_show">
  <div class="flash_message">
  <%= flash[:notice] %>
  </div>
  
  <div class="book_show_title">
    <h4>Title:&nbsp;</h4>
    <span><%= @book.title %></span>
  </div>

  <div class="book_show_body">
    <h4>Body:&nbsp;</h4>
    <span><%= @book.body %></span>
  </div>

</div>

<div class="book_show_link">
  <span>
    <%= link_to "Edit", edit_book_path(@book.id) %>
  </span>
  <span>|</span>
  <span>
    <%= link_to "Back", '/books' %>
  </span>
</div>